.dropdown-menu {
  background-color: $header-bg-color;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 40px 0 70px 0;

  &__elem {
    text-decoration: none;
    margin-bottom: 30px;
    cursor: pointer;

    a {color: #737373;}

    &:last-child {
      margin-bottom: 0;
    }
  } 
}