.dropdown-menu {
  position: absolute;
  top: 0;
  background-color: $header-bg-color;
  font-family: $Poppins;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 160px 0 70px 0;
  width: 100%;
  z-index: 2;

  &__elem {
    position: relative;
    text-decoration: none;
    padding-bottom: 30px;
    cursor: pointer;
    height: 33px;

    a {
      color: #737373;
      transition: 0.3s;
      display: block;

      &:hover {
        color: $header-color;
        font-size: 1.4em;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  } 
}