@import "destination/destination.scss";

.destinations {
  position: relative;
  text-align: center;
  margin-top: 80px;

  &__header-section-text {
    margin-top: 30px;
    width: 25vw;
    min-width: 77px;
    margin: 0 auto;
    line-height: 30px;
  }

  &__header-benefit-text {
    width: 67vw;
    min-width: 255px;
    margin: 0 auto;
    line-height: 52px;
    margin-bottom: 30px;
  }

  &__background-image {
    @include backgroundDecorePluses("../common.blocks/destinations/destinations-background-plus.svg");
    top: -20px;
    left: 0;
    width: 22vw;
    background-position: right;
    z-index: -1;
  }
}