.destination {
  @include card-shadow();
  width: 70.5vw;
  min-width: 300px;
  max-width: 315px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 70px;

  &:hover {
    box-shadow: 
    0px 0px 80px 0px rgba(0, 0, 0, 0.22),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.1152), 
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.1121),
    0px 20px 13px 0px rgba(0, 0, 0, 0.11),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0179),
    0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0148);

    .destination__img img{
      transform: scale(1.15);
    }
  }

  &__img {
    height: 320px;
    overflow: hidden;
    border-radius: 24px 24px 0 0;

    img { transition: 0.3s; }
  }

  &__caption {
    position: relative;
    padding: 30px 10px 20px 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 25px;
    background-color: $page-bg-color;
    color: $main-text-color;
    font-family: $Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    text-align: left;
    border-radius: 0 0 24px 24px;
  }

  &__duration {
    font-size: 16px;
    position: relative;
    padding-left: 30px;

    &::before {
      @include pseudoElemImg("../common.blocks/destinations/destination/vector.svg");
      background-position: center;
      height: 100%;
    }
  }
}
