@import "logo/logo.scss";
@import "header-controls/header-controls.scss";
@import "header-controls/language/language.scss";
@import "header-controls/dropdown-menu/dropdown-menu.scss";
@import "common-menu/common-menu.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;

  &__decore {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    // transform: translate(-100%, -100%);
    width: 98px;
    height: 383px;
    background-size: 98px 383px;
    background-position: 0px 0px;
    background-image: radial-gradient(120% 100% at 0% 50%, rgba(213, 174, 228, 0.5) 0%, #fff 50%);
  }
}


