@import "logo/logo.scss";
@import "header-controls/header-controls.scss";
@import "header-controls/language/language.scss";
@import "header-controls/dropdown-menu/dropdown-menu.scss";
@import "common-menu/common-menu.scss";

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}
