@import "logo/logo.scss";
@import "header-controls/header-controls.scss";

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  z-index: 3;
  width: 100%;
}


