.send {
  position: absolute;
  top: 82.5%;
  left: 76%;
  background: linear-gradient(225deg, rgba(116,125,239,1) 0%, rgba(94,59,225,1) 100%);
  width: 61px;
  height: 56px;
  border-radius: 50%;

  &__icon {
    @include backgroundImage("../common.blocks/logos-and-sbscr/send/send-icon.svg");
    width: 100%;
    height: 100%;
    transform: translate(3px, -2px);
  }

  &::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  background-color: $page-bg-color;
  z-index: -1;
  }
}