.sbscr {
  position: relative;

  &__get-information {
    display: none;
  }

  &__input-email {
    display: none;
  }

  &__left-bg-decore {
    display: none;
  }

  &__right-bg-decore {
    display: none;
  }

  &__background-image-pluses {
    display: none;
  }

  input[type="submit"] {
    @include cta-find-more-b();
    background: linear-gradient(180deg, rgba(255,148,109,1) 0%, rgba(255,125,104,1) 67%);
    font-family: $Open-Sans;
    font-weight: 600;
    font-size: 17px;
    box-shadow: none;
    border: none;
    margin: 50px auto;
  }
}
