.cta {
  display: flex;
  text-align: center;
  z-index: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  &__find-more-button {
    @include cta-find-more-b();
  }

  &__play-demo-container {
    display: flex;
    align-items: center;
    margin-top: 40px;

    span {
      font-family: $Poppins;
      font-weight: 500;
      font-size: 17px;
      color: #686D77;
    }
  }

  &__play-demo-button {
    @include cta-play-demo-b();
  }
}