@keyframes notTheBestFlight-mobile {
  70% {
    transform:  translate(30vw, -15vh) scale(0.7);
  }
  85% {
    transform:  translate(42vw, -18vh) rotate(40deg) scale(0.65);
  }
  100% {
    transform:  translate(80vw, 100vh);
  }
}
