@keyframes notTheBestFlight{
  0% {
  }
  80% {
      transform:  translate(40vw, -40vh);
  }
  90% {
      transform:  translate(43vw, -43vh) rotate(80deg);
  }
  100% {
      transform:  translate(100vw, 110vh);
  }
}
