@media screen and (max-width: 411.88px) {
  div.hero__background-image-pluses {
    top: 66vh;
  }

  div.category::after {
    top: 78%;
    width: 38%;
    height: 30%;
  }

  div.logos-and-sbscr__send {
    top: 20%;
    right: -9%;
    width: 51px;
    height: 46px;
  }

  div.discover {
    width: 70%;
  }
}
