@media screen and (min-width: 411.88px) {
  div.discover {
    .discover__text {
      text-align: center;
    }
    &__container-group {
      justify-content: space-between;
    }
  }

  div.logos-and-sbscr__send {
    right: 0;
  }
}
