
@media screen and (max-width: 411.88px) {
  div.hero__background-image-pluses {
    top: 66vh;
  }

  div.category::after {
    top: 78%;
    width: 38%;
    height: 30%;
  }

  div.send {
    left: 79%;
  }

  div.discover {
    width: 70%;
  }
}
