/*Background Images mixins*/
@mixin backgroundImage($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin backgroundDecorePluses($url) {
  @include backgroundImage($url);
  position: absolute;
  max-width: 155px;
  height: 166px;
}

@mixin pseudoElemImg($url) {
  @include backgroundImage($url);
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
}

@mixin head-5($color, $fontSize) {
  font-family: $Poppins;
  line-height: 124.5%;
  color: $color;
  font-size: $fontSize;
  font-weight: 700;
}

@mixin cta-find-more-b() {
  background-color: #f1a501;
  color: #fff;
  border-radius: 10px;
  font-family: $Google-Sans-medium;
  font-size: 18px;
  padding-top: calc(20px + $additional-cta-height-for-mobile);
  padding-bottom: calc(20px + $additional-cta-height-for-mobile);
  width: calc(170px + $additional-cta-width-for-mobile);
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}

@mixin cta-play-demo-b() {
  background-color: #df6951;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  @include backgroundImage("../common.blocks/hero/cta/triangle-play.svg");
  background-position-x: 55%;
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  margin-right: 20px;
}

@mixin card-shadow() {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
