/*Background Images mixins*/
@mixin backgroundImage($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin backgroundDecorePluses($url) {
  @include backgroundImage($url);
  position: absolute;
  max-width: 155px;
  height: 166px;
}

@mixin pseudoElemImg($url) {
  @include backgroundImage($url);
  content: '';
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
}

/*Head 1,2,3,4,5 mixins*/
@mixin head-1() {
  color: $h1-text-color;
  font-size: $h1-font-size;
  font-family: $Volkhov;
  font-weight: 700;
  line-height: 89px;
}

@mixin head-2() {
  color: $h2-text-color;
  font-size: $h2-font-size;
  font-family: $Volkhov;
  font-weight: 700;
}

@mixin head-3() {
  font-family: $Poppins;
  font-weight: 600;
  color: $main-text-color;
  font-size: 20px;
}

@mixin head-4() {
  font-family: $Open-Sans;
  font-weight: 600;
  color: $h4-text-color;
  font-size: 20px;
}


/*Button mixins*/
@mixin cta-find-more-b() {
  display: block;
  background-color: #F1A501;
  color: #FFF;
  border-radius: 10px;
  font-family: $Google-Sans-medium;
  font-size: 18px;
  padding: 16px 0;
  width: 170px;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}

@mixin cta-play-demo-b() {
  background-color: #DF6951;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  @include backgroundImage("../common.blocks/hero/cta/triangle-play.svg");
  background-position-x: 55%;
  box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  margin-right: 20px;
}

@mixin card-shadow() {
  box-shadow: 
    0px 0px 80px 0px rgba(0, 0, 0, 0.02),
    0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 
    0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121),
    0px 20px 13px 0px rgba(0, 0, 0, 0.01),
    0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079),
    0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
}
