.page {
  width: 100%;

  .content {
    @include backgroundImage("../images/Decore-top-right.svg");
    background-position: top right;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
