@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Volkhov:wght@700&display=swap');

@font-face {
  font-family: 'Google-Sans-medium';
  src:  url('../fonts/Google-Sans/GoogleSans-Medium.woff') format('woff'),
        url('../fonts/Google-Sans/GoogleSans-Medium.woff2') format('woff2'),
        url('../fonts/Google-Sans/GoogleSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: fallback;
}

/*Colors*/
$main-text-color: #5E6282;
$second-text-color: #737373;
$header-bg-color: #FFF1DA;
$page-bg-color: #FFF;
$h1-text-color: #181E4B;
$h2-text-color: #14183E;
$h4-text-color: #1E1D4C;

/*Font and typography*/
$h1-font-size: 48px;
$h2-font-size: 40px;
$Volkhov: 'Volkhov', serif;
$Google-Sans-medium: 'Google-Sans-medium', sans-serif; 
$Open-Sans: 'Open Sans', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;


