@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Volkhov:wght@700&display=swap");
@font-face {
  font-family: "Google-Sans-medium";
  src: url("../fonts/Google-Sans/GoogleSans-Medium.woff") format("woff"), url("../fonts/Google-Sans/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/Google-Sans/GoogleSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
/*Colors*/
/*Font and typography*/
/*Background Images mixins*/
@-webkit-keyframes notTheBestFlight-mobile {
  70% {
    -webkit-transform: translate(30vw, -15vh) scale(0.7);
            transform: translate(30vw, -15vh) scale(0.7);
  }
  85% {
    -webkit-transform: translate(42vw, -18vh) rotate(40deg) scale(0.65);
            transform: translate(42vw, -18vh) rotate(40deg) scale(0.65);
  }
  100% {
    -webkit-transform: translate(80vw, 100vh);
            transform: translate(80vw, 100vh);
  }
}
@keyframes notTheBestFlight-mobile {
  70% {
    -webkit-transform: translate(30vw, -15vh) scale(0.7);
            transform: translate(30vw, -15vh) scale(0.7);
  }
  85% {
    -webkit-transform: translate(42vw, -18vh) rotate(40deg) scale(0.65);
            transform: translate(42vw, -18vh) rotate(40deg) scale(0.65);
  }
  100% {
    -webkit-transform: translate(80vw, 100vh);
            transform: translate(80vw, 100vh);
  }
}
@media screen and (max-width: 411.88px) {
  div.hero__background-image {
    top: 66vh;
  }
  div.category::after {
    top: 78%;
    width: 38%;
    height: 30%;
  }
  div.sbscr__send-btn {
    left: 80%;
  }
  div.discover {
    width: 70%;
  }
}
@media screen and (min-width: 425.88px) {
  div.discover .discover__text {
    text-align: center;
  }
  div.discover__container-group {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 599.88px) {
  div.discover .discover__text {
    text-align: left;
  }
  div.discover__container-group {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  footer {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
  }
  footer h5 {
    margin: 0;
  }
  footer .footer__logo-container {
    grid-row: 1/1;
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  footer .footer__details {
    width: 50%;
    margin: 0;
  }
  footer div:nth-of-type(2) {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  footer div:nth-of-type(3) {
    grid-column: 1/1;
    grid-row: 3/4;
  }
  footer div:nth-of-type(4) {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  footer .contact-links {
    grid-column: 2/2;
    grid-row: 3/3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
  footer .discover {
    grid-column: 2/2;
    grid-row: 3/3;
  }
  footer .copyright-law {
    grid-column: 1/3;
    grid-row: 4/4;
    width: 100%;
    text-align: center;
    margin: auto 0;
    padding: 0;
  }
}
.page {
  width: 100%;
}
.page .content {
  background-position: top right;
}
.page .content img {
  max-width: 100%;
  height: auto;
}
.page .content h1 {
  color: #181E4B;
  font-size: 48px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  line-height: 89px;
}
.page .content h2 {
  color: #14183E;
  font-size: 40px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  line-height: 52px;
}
.page .content h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5E6282;
  font-size: 20px;
  line-height: 30px;
}
.page .content h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1E1D4C;
  font-size: 20px;
}
.page .content a {
  cursor: pointer;
}

.logo {
  padding-left: 30px;
  position: relative;
  z-index: 3;
}
.logo img {
  width: 7.1875rem;
  height: auto;
}

.header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.language {
  position: relative;
  font-size: 17px;
  color: #212832;
  font-family: "Google-Sans-medium", sans-serif;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.language__icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 6px;
  background-image: url("../common.blocks/header/header-controls/language/half-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.language:hover {
  background-color: #FFF1DA;
}
.language:hover .language__dropdown-content {
  top: 100%;
}
.language:hover .language__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.language__dropdown-content {
  position: absolute;
  top: -100vh;
  width: 100%;
  text-align: center;
  background-color: #FFF1DA;
}
.language__elem {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 10px;
  color: #181E4B;
  cursor: pointer;
}
.language__elem:first-child {
  padding-top: 10px;
}
.language__elem:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  text-decoration: underline;
}

.dropdown-menu__icon {
  background-image: url("../common.blocks/header/header-controls/dropdown-menu/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  margin-right: 30px;
}
.dropdown-menu__content {
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: #FFF1DA;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 160px 0 70px 0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
.dropdown-menu:hover .dropdown-menu__content {
  top: 0;
}
.dropdown-menu__elem {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  padding-bottom: 20px;
}
.dropdown-menu__elem a {
  color: #737373;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  margin: auto 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dropdown-menu__elem a:hover {
  color: #181E4B;
  font-size: 1.4em;
}
.dropdown-menu__elem:last-child {
  padding-bottom: 0;
}

.common-menu {
  display: none;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 170px;
  text-align: center;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}
.cta__find-more-button {
  background-color: #F1A501;
  color: #FFF;
  border-radius: 10px;
  font-family: "Google-Sans-medium", sans-serif;
  font-size: 18px;
  padding: 20px 0;
  width: 170px;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}
.cta__play-demo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.cta__play-demo-container span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #686D77;
}
.cta__play-demo-button {
  background-color: #DF6951;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-image: url("../common.blocks/hero/cta/triangle-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 55%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  margin-right: 20px;
}

.airplane {
  position: absolute;
  top: 4%;
  left: 1%;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.airplane #airplane-2 {
  display: none;
}
.airplane__img {
  background-image: url("../images/airplane.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 115px;
  height: 100px;
}
.airplane__img:hover {
  -webkit-animation: notTheBestFlight-mobile 3s linear 0s 1 normal none;
          animation: notTheBestFlight-mobile 3s linear 0s 1 normal none;
}

.hero {
  position: relative;
  text-align: left;
}
.hero__tegline {
  display: none;
}
.hero__header-text {
  margin: 0 15px 40px 60px;
  padding-top: 60px;
}
.hero__description {
  display: none;
}
.hero__background-image {
  background-image: url("../common.blocks/hero/hero-background-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  max-width: 155px;
  height: 166px;
  top: 53vh;
  left: 73vw;
  width: 27vw;
  background-position: initial;
}

.category {
  width: 272px;
  min-width: 120px;
  margin: 0 auto;
  border-radius: 36px;
  background-color: #FFF;
  text-align: center;
  margin-top: 40px;
  position: relative;
}
.category:nth-of-type(3), .category:nth-of-type(4) {
  display: none;
}
.category__img {
  width: 120px;
  height: 90px;
  margin: 0 auto;
}
.category #radar {
  background-image: url("../common.blocks/services/category/category_radar.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category #airplane {
  background-image: url("../common.blocks/services/category/category_plane.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category #gear {
  background-image: url("../common.blocks/services/category/category_gear.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category #microphone {
  background-image: url("../common.blocks/services/category/category_microphone.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category__header-text {
  margin-top: 25px;
  margin-bottom: 20px;
}
.category__text {
  width: 67%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #5E6282;
  line-height: 26px;
  font-weight: 500;
}
.category::after {
  display: none;
  content: "";
  position: absolute;
  top: 76%;
  left: -11%;
  width: 32%;
  height: 37%;
  background: #DF6951;
  border-radius: 30px 0 10px;
  z-index: -1;
}
.category:hover {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
}
.category:hover::after {
  display: block;
}

.services {
  width: 100%;
  text-align: center;
  margin-top: 90px;
}
.services__header-section-text {
  padding-top: 20px;
  text-transform: uppercase;
}
.services__header-benefit-text {
  padding-top: 40px;
  text-transform: capitalize;
}
.services__mobile-menu {
  color: #737373;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.services__cta {
  color: #E21A1A;
  font-family: "Google-Sans-medium", sans-serif;
  font-size: 18px;
  margin-top: 100px;
}

.destination {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
  width: 70.5vw;
  min-width: 300px;
  max-width: 315px;
  border-radius: 24px;
  margin: 0 auto;
  margin-top: 70px;
}
.destination:hover {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.22), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.1152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.1121), 0px 20px 13px 0px rgba(0, 0, 0, 0.11), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0179), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0148);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.22), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.1152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.1121), 0px 20px 13px 0px rgba(0, 0, 0, 0.11), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0179), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0148);
}
.destination:hover .destination__img img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.destination__img {
  height: 320px;
  overflow: hidden;
  border-radius: 24px 24px 0 0;
}
.destination__img img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.destination__caption {
  position: relative;
  padding: 30px 10px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  background-color: #FFF;
  color: #5E6282;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  text-align: left;
  border-radius: 0 0 24px 24px;
}
.destination__duration {
  font-size: 16px;
  position: relative;
  padding-left: 30px;
}
.destination__duration::before {
  background-image: url("../common.blocks/destinations/destination/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  background-position: center;
  height: 100%;
}

.destinations {
  position: relative;
  text-align: center;
  margin-top: 80px;
}
.destinations :nth-child(4) {
  margin-top: 30px;
}
.destinations__header-section-text {
  margin-top: 30px;
  width: 25vw;
  min-width: 77px;
  margin: 0 auto;
  line-height: 30px;
}
.destinations__header-benefit-text {
  width: 67vw;
  min-width: 255px;
  margin: 0 auto;
  line-height: 52px;
}
.destinations__background-image {
  background-image: url("../common.blocks/destinations/destinations-background-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  max-width: 155px;
  height: 166px;
  top: -20px;
  left: 0;
  width: 22vw;
  background-position: right;
  z-index: -1;
}

.three-steps {
  display: grid;
  width: 95%;
  grid-template-columns: 50px 1fr;
  grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 5%;
     -moz-column-gap: 5%;
          column-gap: 5%;
  row-gap: 50px;
  margin: 60px auto 100px auto;
  grid-template-areas: "c1r1 c2r1" "c1r2 c2r2" "c1r3 c2r3";
}
.three-steps__icon {
  width: 50px;
  height: 50px;
  margin: auto 0;
}
.three-steps__head-text {
  font-family: "Poppins", sans-serif;
  line-height: 124.5%;
  color: #5E6282;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 6px;
}
.three-steps__common-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #5E6282;
  line-height: 124.5%;
  font-size: 16px;
  text-align: left;
}
.three-steps #step3-icon-1 {
  background-image: url("../common.blocks/book-trip/three-steps/step-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: c1r1;
}
.three-steps #step3-text-1 {
  grid-area: c2r1;
}
.three-steps #step3-icon-2 {
  background-image: url("../common.blocks/book-trip/three-steps/step-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: c1r2;
}
.three-steps #step3-text-2 {
  grid-area: c2r2;
}
.three-steps #step3-icon-3 {
  background-image: url("../common.blocks/book-trip/three-steps/step-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  grid-area: c1r3;
}
.three-steps #step3-text-3 {
  grid-area: c2r3;
}

.trip-card {
  position: relative;
  max-width: 370px;
  width: 73vw;
  background-color: #FFF;
  border-radius: 26px;
  -webkit-box-shadow: 40px -20px 100px 0px rgba(89, 177, 230, 0.4);
          box-shadow: 40px -20px 100px 0px rgba(89, 177, 230, 0.4);
  padding: 20px;
  margin-left: 10%;
  color: #84829A;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 124.5%;
  text-align: left;
  font-size: 16px;
}
.trip-card__img {
  border: 1px solid #000000;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 24px;
  overflow: hidden;
}
.trip-card__img img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}
.trip-card__title {
  font-family: "Poppins", sans-serif;
  line-height: 124.5%;
  color: #080809;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 15px 0 10px 0;
  font-weight: 500;
}
.trip-card__duration-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trip-card__duration {
  width: 20%;
}
.trip-card__author {
  margin-left: 10%;
}
.trip-card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.trip-card__options .icon-leaf {
  background-image: url("../common.blocks/book-trip/trip-card/leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.trip-card__options .icon-map {
  background-image: url("../common.blocks/book-trip/trip-card/map.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.trip-card__options .icon-send {
  background-image: url("../common.blocks/book-trip/trip-card/send.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.trip-card__option-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #F5F5F5;
}
.trip-card__social-metrics {
  position: relative;
  padding-left: 30px;
  letter-spacing: -0.4px;
}
.trip-card__social-metrics::before {
  background-image: url("../common.blocks/book-trip/trip-card/building.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.trip-card__social-metrics::after {
  background-image: url("../common.blocks/book-trip/trip-card/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: cover;
  left: 90%;
}

.trip-card-mini {
  display: none;
}

.book-trip {
  position: relative;
  text-align: center;
  width: 100%;
  margin-bottom: 160px;
}
.book-trip__header-benefit-text {
  font-size: 40px;
  text-transform: capitalize;
  width: 74vw;
  margin: 120px auto 0 auto;
}
.book-trip__marked-word {
  display: block;
}
.book-trip__background-image-top {
  background-image: url("../common.blocks/book-trip/book-trip-background-plus-top.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  max-width: 155px;
  height: 166px;
  background-position: right;
  width: 24vw;
  top: -150px;
  left: 0;
  z-index: -1;
}
.book-trip__background-image-bottom {
  background-image: url("../common.blocks/book-trip/book-trip-background-plus-bottom.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  max-width: 155px;
  height: 166px;
  width: 37vw;
  top: 91%;
  left: 63vw;
}

.testimonials-card {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  font-weight: 500;
}
.testimonials-card__img {
  background-image: url("../common.blocks/testimonials/testimonials-card/smiling-men.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 68px;
  height: 68px;
  margin: 0 auto;
}
.testimonials-card__testimonial {
  line-height: 32px;
  text-align: left;
  font-size: 16px;
}
.testimonials-card__testimonial-author {
  font-weight: 600;
  line-height: 27px;
  font-size: 18px;
  margin-top: 20px;
}
.testimonials-card__testimonial-located {
  font-weight: 500;
  line-height: 21px;
  font-size: 14px;
  margin: 5px 0 80px 0;
  padding-bottom: 20px;
}

.testimonials {
  width: 82vw;
  text-align: center;
  margin: 0 auto;
}
.testimonials__header-benefit-text {
  margin: 30px auto 60px auto;
  text-transform: capitalize;
  width: 67vw;
}

.logos :nth-child(1) img, .logos :nth-child(2) img {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}
.logos :nth-child(4) img {
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}
.logos :nth-child(3) {
  -webkit-box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
          box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.02), 0px 64.81px 46.85px 0px rgba(0, 0, 0, 0.0152), 0px 38.52px 25.48px 0px rgba(0, 0, 0, 0.0121), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 8.15px 6.52px 0px rgba(0, 0, 0, 0.0079), 0px 1.85px 3.15px 0px rgba(0, 0, 0, 0.0048);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.logos :nth-child(3) img {
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}
.logos__container {
  width: 40vw;
  max-width: 170px;
  height: 80px;
  margin: 0 auto;
  -webkit-filter: brightness(100%) grayscale(100%);
          filter: brightness(100%) grayscale(100%);
  overflow: hidden;
  margin-top: 30px;
}

.sbscr {
  position: relative;
}
.sbscr__get-information {
  display: none;
}
.sbscr__input-email {
  display: none;
}
.sbscr__send-btn {
  position: absolute;
  top: 50%;
  left: 76%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: linear-gradient(225deg, rgb(116, 125, 239) 0%, rgb(94, 59, 225) 100%);
  width: 61px;
  height: 56px;
  border-radius: 50%;
}
.sbscr__send-icon {
  background-image: url("../common.blocks/logos-and-sbscr/sbscr/send-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(3px, -2px);
          transform: translate(3px, -2px);
}
.sbscr__left-bg-decore {
  display: none;
}
.sbscr__right-bg-decore {
  display: none;
}
.sbscr input[type=submit] {
  background-color: #F1A501;
  color: #FFF;
  border-radius: 10px;
  font-family: "Google-Sans-medium", sans-serif;
  font-size: 18px;
  padding: 20px 0;
  width: 170px;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 148, 109)), color-stop(67%, rgb(255, 125, 104)));
  background: linear-gradient(180deg, rgb(255, 148, 109) 0%, rgb(255, 125, 104) 67%);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 17px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 50px auto;
}

.logos-and-sbscr {
  text-align: center;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  width: 52%;
  margin: 50px auto 40px auto;
}
.contact-links__icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
}

.discover {
  width: 52%;
  margin: 0 auto;
}
.discover__text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.05px;
  color: #5E6282;
}
.discover__container-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  margin: 15px 0;
}
.discover__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 17.5px;
  overflow: hidden;
}

.copyright-law {
  margin-top: 50px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #5E6282;
  line-height: 124.5%;
  font-size: 14px;
  font-weight: 500;
}

.footer {
  background-color: #FFF1DA;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: left;
}
.footer__logo-container {
  width: 50%;
  margin-left: 18.8%;
  margin-bottom: 60px;
}
.footer__logo {
  color: #181E4B;
  font-size: 44px;
  line-height: 66px;
  margin-bottom: 20px;
}
.footer__logo-description {
  color: #5E6282;
  font-size: 13px;
  line-height: 124.5%;
}
.footer__details {
  width: 28%;
  margin-left: 18.8%;
}
.footer__head {
  font-family: "Poppins", sans-serif;
  line-height: 124.5%;
  color: #080809;
  font-size: 21px;
  font-weight: 700;
  margin: 40px 0 20px 0;
}
.footer__link {
  display: block;
  font-size: 18px;
  line-height: 124.5%;
  color: #5E6282;
  margin-top: 10px;
}/*# sourceMappingURL=main.css.map */