@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@400;500&family=Volkhov:wght@700&display=swap");
@font-face {
  font-family: "Google-Sans-medium";
  src: url("../fonts/Google-Sans/GoogleSans-Medium.woff") format("woff"), url("../fonts/Google-Sans/GoogleSans-Medium.woff2") format("woff2"), url("../fonts/Google-Sans/GoogleSans-Medium.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
/*Colors*/
/*Font and typography*/
/*Head 1,2,3 mixins*/
/*Button mixins*/
@-webkit-keyframes notTheBestFlight {
  80% {
    -webkit-transform: translate(30vw, -30vh);
            transform: translate(30vw, -30vh);
  }
  100% {
    -webkit-transform: translate(33vw, -33vh) rotate(80deg);
            transform: translate(33vw, -33vh) rotate(80deg);
  }
}
@keyframes notTheBestFlight {
  80% {
    -webkit-transform: translate(30vw, -30vh);
            transform: translate(30vw, -30vh);
  }
  100% {
    -webkit-transform: translate(33vw, -33vh) rotate(80deg);
            transform: translate(33vw, -33vh) rotate(80deg);
  }
}
.logo {
  padding-left: 30px;
  position: relative;
  z-index: 3;
}
.logo img {
  width: 7.1875rem;
  height: auto;
}

.header-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.language {
  position: relative;
  font-size: 17px;
  color: #212832;
  font-family: "Google-Sans-medium", sans-serif;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.language__icon {
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 6px;
  background-image: url("../common.blocks/header/header-controls/language/half-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.language:hover {
  background-color: #FFF1DA;
}
.language:hover .language__dropdown-content {
  top: 100%;
}
.language:hover .language__icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.language__dropdown-content {
  position: absolute;
  top: -100vh;
  width: 100%;
  text-align: center;
  background-color: #FFF1DA;
}
.language__elem {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding-bottom: 10px;
  color: #181E4B;
  cursor: pointer;
}
.language__elem:first-child {
  padding-top: 10px;
}
.language__elem:hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  text-decoration: underline;
}

.dropdown-menu__icon {
  background-image: url("../common.blocks/header/header-controls/dropdown-menu/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  margin-right: 30px;
}
.dropdown-menu__content {
  position: absolute;
  top: -100vh;
  left: 0;
  background-color: #FFF1DA;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  padding: 160px 0 70px 0;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
.dropdown-menu:hover .dropdown-menu__content {
  top: 0;
}
.dropdown-menu__elem {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  height: 50px;
  padding-bottom: 20px;
}
.dropdown-menu__elem a {
  color: #737373;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: block;
  margin: auto 0;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dropdown-menu__elem a:hover {
  color: #181E4B;
  font-size: 1.4em;
}
.dropdown-menu__elem:last-child {
  padding-bottom: 0;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

.cta {
  width: 41%;
  min-width: 170px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #FFF;
}
.cta__find-more-button {
  display: block;
  background-color: #F1A501;
  color: #FFF;
  border-radius: 10px;
  font-family: "Google-Sans-medium", sans-serif;
  font-size: 18px;
  padding: 16px 0;
  width: 170px;
  -webkit-box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
}
.cta__play-demo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}
.cta__play-demo-container span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #686D77;
}
.cta__play-demo-button {
  background-color: #DF6951;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-image: url("../common.blocks/hero/cta/triangle-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 55%;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
  margin-right: 20px;
}

.airplane {
  position: absolute;
  top: 4%;
  left: 1%;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}
.airplane__picture {
  background-image: url("../images/airplane.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 115px;
  height: 100px;
}
.airplane__picture:hover {
  -webkit-animation: notTheBestFlight 3s linear 0s 1 normal none;
          animation: notTheBestFlight 3s linear 0s 1 normal none;
}

.hero {
  position: relative;
  text-align: left;
}
.hero__header-text {
  color: #181E4B;
  font-size: 48px;
  font-family: "Volkhov", serif;
  font-weight: 700;
  line-height: 89px;
  border-bottom: 1px solid #FFF;
  margin: 0 15px 40px 60px;
  padding-top: 60px;
}
.hero__background-image {
  position: absolute;
  top: 53vh;
  left: 73vw;
  width: 27vw;
  height: 166px;
  background-image: url("../common.blocks/hero/hero-background-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: initial;
}
@media screen and (max-width: 411.88px) {
  .hero__background-image {
    top: 66vh;
  }
}

.category {
  width: 66%;
  min-width: 120px;
  margin: 0 auto;
  border-radius: 36px;
  background-color: #FFF;
  text-align: center;
  margin-top: 40px;
}
.category__img {
  width: 120px;
  height: 90px;
  margin: 0 auto;
}
.category #radar {
  background-image: url("../common.blocks/services/category/category_radar.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category #airplane {
  background-image: url("../common.blocks/services/category/category_plane.png");
  background-repeat: no-repeat;
  background-position: center;
}
.category__header-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #1E1D4C;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.category__text {
  width: 67%;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #5E6282;
  line-height: 26px;
  font-weight: 500;
}

.services {
  width: 100%;
  text-align: center;
  margin-top: 90px;
}
.services__header-section-text {
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5E6282;
  font-size: 20px;
}
.services__header-benefit-text {
  padding-top: 40px;
  color: #14183E;
  font-size: 40px;
  font-family: "Volkhov", serif;
  font-weight: 700;
}
.services__mobile-menu {
  color: #737373;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.services__cta {
  color: #E21A1A;
  font-family: "Google-Sans-medium", sans-serif;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 80px;
}/*# sourceMappingURL=main.css.map */