.testimonials-card {
  @include card-shadow();
  font-family: $Poppins;
  color: $main-text-color;
  font-weight: 500;
  border-radius: 10px;
  grid-column: 2/2;
  grid-row: 1/1;
  padding: 0 20px 0 40px;

  &__img {
    @include backgroundImage(
      "../common.blocks/testimonials/testimonials-card/smiling-men.png"
    );
    width: 68px;
    height: 68px;
    margin: 0 auto;
  }

  &__testimonial {
    line-height: 32px;
    text-align: left;
    font-size: 16px;
  }

  &__testimonial-author {
    font-weight: 600;
    line-height: 27px;
    font-size: 18px;
    margin-top: 20px;
  }

  &__testimonial-located {
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 20px;
  }
}
