.category {
  width: 272px;
  min-width: 120px;
  margin: 0 auto;
  border-radius: 36px;
  background-color: $page-bg-color;
  text-align: center;
  margin-top: 40px;
  position: relative;

  &__img {
    width: 120px;
    height: 90px;
    margin: 0 auto
  }

  & #radar { @include backgroundImage("../common.blocks/services/category/category_radar.png"); }

  & #airplane { @include backgroundImage("../common.blocks/services/category/category_plane.png"); }

  &__header-text {
    @include head-4();
    margin-top: 25px;
    margin-bottom: 20px;
  }

  &__text {
    width: 67%;
    margin: 0 auto;
    padding-bottom: 40px;
    font-family: $Poppins;
    font-size: 16px;
    color: $main-text-color;
    line-height: 26px;
    font-weight: 500;
  }

  &::after {
    display: none;
    content: '';
    position: absolute;
    top: 76%;
    left: -11%;
    width: 32%;
    height: 37%;
    background: #DF6951;
    border-radius: 30px 0 10px;
    z-index: -1;
  }

  &:hover {
    @include category-active-shadow();

    &::after {
      display: block;
    }
  }
}