.airplane {
  position: absolute;
  transform: translateY(-30px);

  #airplane-1 {
    top: 4%;
    left: 1%;
  }

  #airplane-2 {
    display: none;
  }

  &__img {
    @include backgroundImage('../images/airplane.svg');
    background-size: cover;
    width: 115px;
    height: 100px;

    &:hover {
      animation: notTheBestFlight-mobile 3s linear 0s 1 normal none;
    }
  }
}