@import "testimonials-card/testimonials-card.scss";

.testimonials {
  width: 82vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 90px;

  &__header-benefit-text {
    margin: 30px auto 60px auto;
    text-transform: capitalize;
    width: 67vw;
  }
}
