.logos {

  & :nth-child(1) img, & :nth-child(2) img {
    transform: translateY(-15px);
  }

  & :nth-child(4) img {
    transform: translateY(25px);
  }

  & :nth-child(3) {
    @include card-shadow();
    filter: grayscale(0);

    img { 
      transform: translateY(-36px); 
    }
  }

  &__container {
    width: 40vw;
    height: 80px;
    margin: 0 auto;
    filter: brightness(100%) grayscale(100%);
    overflow: hidden;

    img { margin: 0 auto; }
  }
}