@import "cta/cta.scss";
@import "airplane/airplane.scss";

.hero {
  position: relative;
  text-align: left;

  &__tegline {
    display: none;
    font-family: $Poppins;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #DF6951;
    text-transform: uppercase;
  }

  &__header-text {
    margin: 0 15px 40px 60px;
    padding-top: 60px;
  }

  &__description {
    display: none;
    font-family: $Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $main-text-color;
  }

  &__background-decore { 
    display: none;
    @include backgroundImage("../common.blocks/hero/Traveller.png");
    background-size: contain;
  }

  &__background-image-pluses {
    @include backgroundDecorePluses("../common.blocks/hero/hero-background-plus.svg");
    top: 53vh;
    left: 73vw;
    width: 27vw;
    background-position: initial;
    z-index: -1;
  }
}
