@import "cta/cta.scss";
@import "airplane/airplane.scss";

.hero {
  position: relative;
  text-align: left;

  &__tegline {
    display: none;
  }

  &__header-text {
    @include head-1();
    border-bottom: 1px solid $page-bg-color;
    margin: 0 15px 40px 60px;
    padding-top: 60px;
  }

  &__description {
    display: none;
  }

  &__background-image {
    @include backgroundDecorePluses("../common.blocks/hero/hero-background-plus.svg");
    top: 53vh;
    left: 73vw;
    width: 27vw;
    background-position: initial;
  }
}
